h1{
    text-align: center;
}

#main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#gametable{
    border: solid 1px black;
    width: 800px;
    height: 400px;
}

#ball{
    border: solid 1.5px red;
}