div#canvas{
    display: flex;
    align-content: center;
    justify-content: center;
}

h1{
    text-align: center;
}

table,tr,td{
    border: solid 2px black;
    border-collapse: collapse;
    text-align: center;
}

td{
    width: 50px;
    height: 50px;
}

a{
    margin-top: 25px;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}