<div>
    <h1 [ngClass]="title">TEST COMPONENT</h1>
    <ul>
        <li *ngFor="let todo of todos">
            {{todo}}
        </li>
    </ul>
    <input type="text" [(ngModel)]="testLabel">
    <br>
    <label>{{testLabel}}</label>
    <br>
    <button (click)="testFunction()">Test my function in angular</button>
    <br>
    <h3>Switch Test</h3>
    <div [ngSwitch]="testSwitch">
        <p *ngSwitchCase="1">{{testSwitch}}</p>
        <p *ngSwitchCase="2">{{testSwitch}}</p>
        <p *ngSwitchDefault>off</p>
    </div>
</div>

